$primary-color: rgb(64,135,133);
$secondary-color: rgb(196,255,84);
$tertiary-color: rgb(83,190,149);
$event-color: rgb(198,214,78);
$accordion-color: #c5e3d7;
$purple: rgb(81,74,96);
$gradient-header: linear-gradient(to bottom, $primary-color 0%, $tertiary-color 100%);
$gradient-footer: linear-gradient(to top, $primary-color 0%, $tertiary-color 100%);
$content-width: 75%;
$content-max-width: 1200px;